.msg {
    text-align: center;
    border-radius: 6px;
    border: 1px solid #000;
    margin: 0 auto;
}
.success {
    color: white;
    background-color: #4ada4abe;
    border-color: #338d51;
}
.err {
    color: white;
    background-color: #ad666c;
    border-color: #662626;
}
