.container {
    width: 100%;
    display: flex;
    justify-content: start;
    width: 98vw;
    flex-wrap: wrap;
}
.min-height {
    min-height: 80vh;
}
.start {
    justify-content: start;
}
.column {
    flex-direction: column;
    justify-content: flex-start;
}